# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.env

# Flask
instance/
.webassets-cache

# PyCharm
.idea/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Data files 
*.csv
*.xlsx
*.json

# Logs
*.log

# AWS credentials
.aws/